*{
    margin: 5px;
    margin-bottom: 5%;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container1{
    width: 70%;
}
#addTask{
    margin-left: 5px;
    margin-bottom: 5%;
}